

<div class="container-fluid custom-container">
        <div class="row justify-content center">
          <div class="col-md-4 col-sm-4 col-xs-12"></div>
          <div class="col-md-4 col-sm-4 col-xs-12">
             <form action="/add/company" method="POST">
               <h1><center>Add Company</center></h1>
                   <div class="form-group custom-form-group">
                      <label for="exampleInputEmail1">Company Name</label>
                      <input type="text" name="companyName" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter your companyName">
                   </div>
                   <div class="form-group custom-form-group">
                      <label for="exampleInputEmail1">Joining date</label>
                      <input type="text" name="joiningDate" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your joining date">
                   </div>
                  <div class="form-group custom-form-group">
                     <label for="exampleInputPassword1">Resigned Date</label>
                     <input type="text" name="resignedDate" class="form-control" id="password" placeholder=" Enter your resignedDate">
                  </div>                  
                  <button type="submit" value="AddCompany" class="btn btn-success btn-block">AddCompany</button>
              </form>
           </div>
         </div>
       </div>
      </div>

<!--

<h1>Register to Join Us to create ShortUrls</h1>
<form action="/users/register" method="post" class="my-4 form-inline">
  <input type="text" name="name" placeholder="Enter your name" />
  <input type="email" name="email" placeholder="Enter your email" />
  <input type="password" name="password" placeholder="Enter your password">
  <button type="submit">Register</button> 
</form>

-->



<!--

<form action="/add/company" method="POST" class="my-4 form-inline">
  <input type="text" name="companyName" required placeholder="Company Name" />
  <input type="text" name="joiningDate" required placeholder="joining Date" />
  <input type="text" name="resignedDate" required placeholder="resigned Date" />
  <button type="submit">Add Company</button> 
</form>
-->
